body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  color: #666666;
  width: 70%;
  height: 700px;
  margin-top: 10px;
}

#main {
  float: left;
  width: 750px;
}

#sidebar {
  width: 100px;
  margin-left: 10px;
    float: right;
    margin-top: 10px;
}

#sequence {
  width: 600px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-size: 12px;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}


#words {
    width: 90%;
    font-size: 48px;
    color: #666666;
}

header{
  margin: .5;

}

h1{
  color: #666666;
font-size: 48px;
margin-bottom: 0;
}

h2{
font-size: 18px;
margin-top: 0.25;
}

h1, h2{
  color: #666666;
  font-weight:lighter;

}

.subtitle {
    font-size: 24px;
    margin-top: 20px;
}

.summary{
    font-size: 12px;
    margin-top: 20px;
}

body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 700px 100px 500px;
  grid-gap: 10px;

}

.box {
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.box.a{
  padding: 0px;
}
